click==8.0.3
decorator==5.1.1
fonttools==4.28.5
gast==0.5.3
google-pasta==0.2.0
grpcio==1.43.0
h5py==3.6.0
imageio==2.13.5
importlib-metadata==4.10.0
matplotlib==3.5.1
networkx==2.6.3
numpy==1.21.5
opencv-python==4.5.5.62
Pillow==9.0.0
protobuf==3.19.3
PyWavelets==1.2.0
scikit-image==0.15.0
scipy==1.7.3
tensorboard==1.14.0
tensorflow==1.14.0
tensorflow-estimator==1.14.0